.carousel {
    padding: 81px 0;

    .tns-outer {
        width: 80%;
        margin: 0 auto;

        img {
            width: 100%;
            object-fit: contain;
            height: 580px;
        }
    }

    .prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        border: none;
        cursor: pointer;
    }

    .next {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0;
        background-color: #fff;
        border: none;
        cursor: pointer;
    }
}