@media screen and (max-width: 996px) {
    .container {
        width: auto;
        padding: 0 5%;
    }

    .advantages {
        &__item {
            width: 30%;
        }
    }
}

@media screen and (max-width: 768px) {
    .promo {
        padding: 20px 0;
    }

    .header {
        &__official_xsnone {
            display: none;
        }

        .button {
            width: 200px;
            height: 45px;
            font-size: 16px;
        }
    }

    .carousel {
        padding: 30px 0 30px 0 !important;

        .carousel__iner {
            width: 100%;
        }

        .prev,
        .next {
            display: none;
        }

        .tns-outer {
            width: 100% !important;

            img {
                height: 300px !important;
            }
        }
    }


    .catalog {
        .catalog__content_active {
            justify-content: center;
        }
    }

}

@media screen and (max-width: 565px) {
    h2.title {
        font-size: 24px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;

        &__contacts {
            align-items: center;
        }

        .button {
            width: 300px;
        }
    }

    .promo {
        min-height: 600px;

        &__wrapper {
            margin-top: 25px;
        }

        &__header {
            font-size: 30px;
        }

        &__icons {
            width: 100%;
        }
    }

    .advantages {
        padding: 20px 0;

        &__wrapper {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
        }

        &__item {
            width: 85%;
        }

        &__subtitle {
            margin-top: 5px;
        }

        &__descr {
            margin-top: 5px;
        }
    }

    .consultation {
        min-height: 550px !important;
        padding: 60px 0 0 0 !important;
    }

    .catalog {
        .catalog__tabs {
            margin-top: 20px;
            align-items: center;
            row-gap: 10px;
            flex-direction: column;

            li {
                font-size: 15px;
                width: 250px;
                height: 40px;
                line-height: 40px;
            }
        }

        .catalog__content {
            margin-top: 20px;
        }
    }

}